.loader {
    position : fixed;
    left : 0;
    top : 0;
    width : 100vw;
    height : 100vh;
    background-color: white;
    z-index : 1;
}

.loader img {
    position : inherit;
    top : 50vh;
    left : 50vw;
    transform: translate(-50%,-50%);
    width : 400px;
    height : 400px;
}